<body>
    <div class="container-fluid">
        <!-- Affichage du bandeau supérieur -->
        <div class="row">
            <div class="col-sm-3" align="center">
                <img src="../assets/pictures/DALKIA.JPG" width="50%">
            </div>
            <div class="col-sm-6 " align="center">
                <img src="../assets/pictures/sdeeg.png" width="40%">
            </div>
            <div class="col-sm-3" align="center">
                <img src="../assets/pictures/DALKIA_SysCo.jpg" width="40%">
            </div>
        </div>
    </div>
        <!-- Affichage de la map -->
        <app-map></app-map>
    
</body>

